.comet-color-selector-content {
	min-width: 260px;

	&__pickers {
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
		flex-wrap: wrap;

		div {
			display: contents;
		}
	}

	.components-circular-option-picker {
		margin: 0;

		&__swatches {
			display: contents;
		}

		&__clear {
			font-family: var(--font-family-system);
		}

		&__option-wrapper {
			display: block;

			&:before {
				content: none !important;
			}
		}

		&__option {
			color: transparent !important; // stop text colour overriding gradient swatch background value
		}

		&__custom-clear-wrapper {
			width: 100%;
			display: flex;
			justify-content: flex-end;
			margin-top: 0;
		}
	}
}
