@use '../node_modules/@doubleedesign/doublee-site-style/doublee-fonts.scss';
@use '../node_modules/@doubleedesign/doublee-site-style/doublee-storybook-manager.scss';
@import url("https://use.typekit.net/svp5arr.css"); // TODO this has more fonts than needed - we only need Gelica for this

#storybook-sidebar-region  {

	.sidebar-header {
		flex-wrap: wrap;
		height: 36px;

		div:has(img[alt="Comet Components"]) {
			width: 100%;
			flex-basis: 100%;

			a:has(img[alt="Comet Components"]) {
				display: flex;
				align-items: center;
				justify-content: flex-start;

				img {
					/* match the docs site */
					width: 36px;
					margin-inline-end: 12px;
				}

				&:after {
					content: attr(title);
					font-family: gelica, sans-serif;
					font-size: 1.3rem;
					color: rgb(132, 94, 194);
				}
			}
		}

		div:has(button[aria-label="Shortcuts"]) {
			transform: translateY(70%);
			margin-left: auto;

			button[aria-label="Shortcuts"] {
				height: 2rem;

				> svg {
					width: 1.125rem;
					height: 1.125rem;
				}
			}
		}
	}

	.sidebar-header button[aria-label="Settings"] {
		margin-inline-start: auto;
		top: 1.4rem;
		left: 0.25rem;
	}

	// Make room for the settings button
	[role="search"] {
		width: calc(100% - 2rem);
		padding-inline-end: 0.25rem;
		border-inline-end: 1px solid hsl(212 50% 30% / 0.25);
	}

	button[aria-label="Create a new story"] {
		display: none;
	}
}