.page-nav {
  display: flex;
  margin-block-start: var(--spacing-xxl);
}
.page-nav__prev, .page-nav__next {
  width: 20rem;
  max-width: 50%;
  display: inline-flex;
  flex-direction: column;
  background: transparent;
  padding-inline: var(--spacing-sm);
}
.page-nav__prev:hover, .page-nav__prev:focus, .page-nav__prev:active, .page-nav__next:hover, .page-nav__next:focus, .page-nav__next:active {
  color: var(--color-primary);
  border-color: var(--color-primary);
}
.page-nav__prev {
  align-items: flex-start;
}
.page-nav__next {
  align-items: flex-end;
  margin-inline-start: auto;
}
.page-nav__label {
  font: var(--font-captions);
  font-size: 0.8rem;
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-xs);
}
.page-nav__label svg {
  width: 1rem;
}
.page-nav__title {
  font: var(--font-labels);
}
.page-nav__title--prev {
  padding-inline-start: 1.25rem;
}
.page-nav__title--next {
  padding-inline-end: 1.25rem;
}

@layer comet-gutenberg-controls-demo {
  :root {
    --color-primary: #502595;
    --color-secondary: #845ec2;
    --color-accent: #b01b87;
    --color-info: #24a8e1;
    --color-warning: #ffc75f;
    --color-success: #0abfa0;
    --color-error: #ff775f;
    --color-light: ghostwhite;
    --color-dark: color-mix(in srgb, var(--color-primary) 40%, black);
    --color-white: #ffffff;
    --color-body-text: #181825;
    --color-body-text-muted: oklch(from color-mix(in srgb, var(--color-body-text) 85%, gray 15%) calc(l + 0.35) calc(c * 0.8) calc(h));
    --gradient-primary-secondary: linear-gradient(to bottom, var(--color-primary) 50%, var(--color-secondary) 50%);
    --gradient-primary-accent: linear-gradient(to bottom, var(--color-primary) 50%, var(--color-accent) 50%);
    --gradient-primary-light: linear-gradient(to bottom, var(--color-primary) 50%, var(--color-light) 50%);
    --gradient-primary-dark: linear-gradient(to bottom, var(--color-primary) 50%, var(--color-dark) 50%);
    --gradient-primary-white: linear-gradient(to bottom, var(--color-primary) 50%, var(--color-white) 50%);
    --gradient-secondary-primary: linear-gradient(to bottom, var(--color-secondary) 50%, var(--color-primary) 50%);
    --gradient-secondary-accent: linear-gradient(to bottom, var(--color-secondary) 50%, var(--color-accent) 50%);
    --gradient-secondary-light: linear-gradient(to bottom, var(--color-secondary) 50%, var(--color-light) 50%);
    --gradient-secondary-dark: linear-gradient(to bottom, var(--color-secondary) 50%, var(--color-dark) 50%);
    --gradient-secondary-white: linear-gradient(to bottom, var(--color-secondary) 50%, var(--color-white) 50%);
    --gradient-accent-primary: linear-gradient(to bottom, var(--color-accent) 50%, var(--color-primary) 50%);
    --gradient-accent-secondary: linear-gradient(to bottom, var(--color-accent) 50%, var(--color-secondary) 50%);
    --gradient-accent-light: linear-gradient(to bottom, var(--color-accent) 50%, var(--color-light) 50%);
    --gradient-accent-dark: linear-gradient(to bottom, var(--color-accent) 50%, var(--color-dark) 50%);
    --gradient-accent-white: linear-gradient(to bottom, var(--color-accent) 50%, var(--color-white) 50%);
    --gradient-light-primary: linear-gradient(to bottom, var(--color-light) 50%, var(--color-primary) 50%);
    --gradient-light-secondary: linear-gradient(to bottom, var(--color-light) 50%, var(--color-secondary) 50%);
    --gradient-light-accent: linear-gradient(to bottom, var(--color-light) 50%, var(--color-accent) 50%);
    --gradient-light-dark: linear-gradient(to bottom, var(--color-light) 50%, var(--color-dark) 50%);
    --gradient-light-white: linear-gradient(to bottom, var(--color-light) 50%, var(--color-white) 50%);
    --gradient-dark-primary: linear-gradient(to bottom, var(--color-dark) 50%, var(--color-primary) 50%);
    --gradient-dark-secondary: linear-gradient(to bottom, var(--color-dark) 50%, var(--color-secondary) 50%);
    --gradient-dark-accent: linear-gradient(to bottom, var(--color-dark) 50%, var(--color-accent) 50%);
    --gradient-dark-light: linear-gradient(to bottom, var(--color-dark) 50%, var(--color-light) 50%);
    --gradient-dark-white: linear-gradient(to bottom, var(--color-dark) 50%, var(--color-white) 50%);
    --gradient-white-primary: linear-gradient(to bottom, var(--color-white) 50%, var(--color-primary) 50%);
    --gradient-white-secondary: linear-gradient(to bottom, var(--color-white) 50%, var(--color-secondary) 50%);
    --gradient-white-accent: linear-gradient(to bottom, var(--color-white) 50%, var(--color-accent) 50%);
    --gradient-white-light: linear-gradient(to bottom, var(--color-white) 50%, var(--color-light) 50%);
    --gradient-white-dark: linear-gradient(to bottom, var(--color-white) 50%, var(--color-dark) 50%);
  }
  [data-background=primary] {
    --background-color: var(--color-primary);
    --theme-color: contrast-color(var(--color-primary));
    background: var(--background-color);
    color: var(--theme-color);
  }
  [data-background=primary-secondary] {
    --background-color: var(--gradient-primary-secondary);
    background: var(--background-color);
  }
  [data-background=primary-accent] {
    --background-color: var(--gradient-primary-accent);
    background: var(--background-color);
  }
  [data-background=primary-light] {
    --background-color: var(--gradient-primary-light);
    background: var(--background-color);
  }
  [data-background=primary-dark] {
    --background-color: var(--gradient-primary-dark);
    background: var(--background-color);
  }
  [data-background=primary-white] {
    --background-color: var(--gradient-primary-white);
    background: var(--background-color);
  }
  [data-background=primary-info] {
    --background-color: var(--gradient-primary-info);
    background: var(--background-color);
  }
  [data-background=primary-warning] {
    --background-color: var(--gradient-primary-warning);
    background: var(--background-color);
  }
  [data-background=primary-success] {
    --background-color: var(--gradient-primary-success);
    background: var(--background-color);
  }
  [data-background=primary-error] {
    --background-color: var(--gradient-primary-error);
    background: var(--background-color);
  }
  [data-background=secondary] {
    --background-color: var(--color-secondary);
    --theme-color: contrast-color(var(--color-secondary));
    background: var(--background-color);
    color: var(--theme-color);
  }
  [data-background=secondary-primary] {
    --background-color: var(--gradient-secondary-primary);
    background: var(--background-color);
  }
  [data-background=secondary-accent] {
    --background-color: var(--gradient-secondary-accent);
    background: var(--background-color);
  }
  [data-background=secondary-light] {
    --background-color: var(--gradient-secondary-light);
    background: var(--background-color);
  }
  [data-background=secondary-dark] {
    --background-color: var(--gradient-secondary-dark);
    background: var(--background-color);
  }
  [data-background=secondary-white] {
    --background-color: var(--gradient-secondary-white);
    background: var(--background-color);
  }
  [data-background=secondary-info] {
    --background-color: var(--gradient-secondary-info);
    background: var(--background-color);
  }
  [data-background=secondary-warning] {
    --background-color: var(--gradient-secondary-warning);
    background: var(--background-color);
  }
  [data-background=secondary-success] {
    --background-color: var(--gradient-secondary-success);
    background: var(--background-color);
  }
  [data-background=secondary-error] {
    --background-color: var(--gradient-secondary-error);
    background: var(--background-color);
  }
  [data-background=accent] {
    --background-color: var(--color-accent);
    --theme-color: contrast-color(var(--color-accent));
    background: var(--background-color);
    color: var(--theme-color);
  }
  [data-background=accent-primary] {
    --background-color: var(--gradient-accent-primary);
    background: var(--background-color);
  }
  [data-background=accent-secondary] {
    --background-color: var(--gradient-accent-secondary);
    background: var(--background-color);
  }
  [data-background=accent-light] {
    --background-color: var(--gradient-accent-light);
    background: var(--background-color);
  }
  [data-background=accent-dark] {
    --background-color: var(--gradient-accent-dark);
    background: var(--background-color);
  }
  [data-background=accent-white] {
    --background-color: var(--gradient-accent-white);
    background: var(--background-color);
  }
  [data-background=accent-info] {
    --background-color: var(--gradient-accent-info);
    background: var(--background-color);
  }
  [data-background=accent-warning] {
    --background-color: var(--gradient-accent-warning);
    background: var(--background-color);
  }
  [data-background=accent-success] {
    --background-color: var(--gradient-accent-success);
    background: var(--background-color);
  }
  [data-background=accent-error] {
    --background-color: var(--gradient-accent-error);
    background: var(--background-color);
  }
  [data-background=light] {
    --background-color: var(--color-light);
    --theme-color: contrast-color(var(--color-light));
    background: var(--background-color);
    color: var(--theme-color);
  }
  [data-background=light-primary] {
    --background-color: var(--gradient-light-primary);
    background: var(--background-color);
  }
  [data-background=light-secondary] {
    --background-color: var(--gradient-light-secondary);
    background: var(--background-color);
  }
  [data-background=light-accent] {
    --background-color: var(--gradient-light-accent);
    background: var(--background-color);
  }
  [data-background=light-dark] {
    --background-color: var(--gradient-light-dark);
    background: var(--background-color);
  }
  [data-background=light-white] {
    --background-color: var(--gradient-light-white);
    background: var(--background-color);
  }
  [data-background=light-info] {
    --background-color: var(--gradient-light-info);
    background: var(--background-color);
  }
  [data-background=light-warning] {
    --background-color: var(--gradient-light-warning);
    background: var(--background-color);
  }
  [data-background=light-success] {
    --background-color: var(--gradient-light-success);
    background: var(--background-color);
  }
  [data-background=light-error] {
    --background-color: var(--gradient-light-error);
    background: var(--background-color);
  }
  [data-background=dark] {
    --background-color: var(--color-dark);
    --theme-color: contrast-color(var(--color-dark));
    background: var(--background-color);
    color: var(--theme-color);
  }
  [data-background=dark-primary] {
    --background-color: var(--gradient-dark-primary);
    background: var(--background-color);
  }
  [data-background=dark-secondary] {
    --background-color: var(--gradient-dark-secondary);
    background: var(--background-color);
  }
  [data-background=dark-accent] {
    --background-color: var(--gradient-dark-accent);
    background: var(--background-color);
  }
  [data-background=dark-light] {
    --background-color: var(--gradient-dark-light);
    background: var(--background-color);
  }
  [data-background=dark-white] {
    --background-color: var(--gradient-dark-white);
    background: var(--background-color);
  }
  [data-background=dark-info] {
    --background-color: var(--gradient-dark-info);
    background: var(--background-color);
  }
  [data-background=dark-warning] {
    --background-color: var(--gradient-dark-warning);
    background: var(--background-color);
  }
  [data-background=dark-success] {
    --background-color: var(--gradient-dark-success);
    background: var(--background-color);
  }
  [data-background=dark-error] {
    --background-color: var(--gradient-dark-error);
    background: var(--background-color);
  }
  [data-background=white] {
    --background-color: var(--color-white);
    --theme-color: contrast-color(var(--color-white));
    background: var(--background-color);
    color: var(--theme-color);
  }
  [data-background=white-primary] {
    --background-color: var(--gradient-white-primary);
    background: var(--background-color);
  }
  [data-background=white-secondary] {
    --background-color: var(--gradient-white-secondary);
    background: var(--background-color);
  }
  [data-background=white-accent] {
    --background-color: var(--gradient-white-accent);
    background: var(--background-color);
  }
  [data-background=white-light] {
    --background-color: var(--gradient-white-light);
    background: var(--background-color);
  }
  [data-background=white-dark] {
    --background-color: var(--gradient-white-dark);
    background: var(--background-color);
  }
  [data-background=white-info] {
    --background-color: var(--gradient-white-info);
    background: var(--background-color);
  }
  [data-background=white-warning] {
    --background-color: var(--gradient-white-warning);
    background: var(--background-color);
  }
  [data-background=white-success] {
    --background-color: var(--gradient-white-success);
    background: var(--background-color);
  }
  [data-background=white-error] {
    --background-color: var(--gradient-white-error);
    background: var(--background-color);
  }
  [data-background=info] {
    --background-color: var(--color-info);
    --theme-color: contrast-color(var(--color-info));
    background: var(--background-color);
    color: var(--theme-color);
  }
  [data-background=info-primary] {
    --background-color: var(--gradient-info-primary);
    background: var(--background-color);
  }
  [data-background=info-secondary] {
    --background-color: var(--gradient-info-secondary);
    background: var(--background-color);
  }
  [data-background=info-accent] {
    --background-color: var(--gradient-info-accent);
    background: var(--background-color);
  }
  [data-background=info-light] {
    --background-color: var(--gradient-info-light);
    background: var(--background-color);
  }
  [data-background=info-dark] {
    --background-color: var(--gradient-info-dark);
    background: var(--background-color);
  }
  [data-background=info-white] {
    --background-color: var(--gradient-info-white);
    background: var(--background-color);
  }
  [data-background=info-warning] {
    --background-color: var(--gradient-info-warning);
    background: var(--background-color);
  }
  [data-background=info-success] {
    --background-color: var(--gradient-info-success);
    background: var(--background-color);
  }
  [data-background=info-error] {
    --background-color: var(--gradient-info-error);
    background: var(--background-color);
  }
  [data-background=warning] {
    --background-color: var(--color-warning);
    --theme-color: contrast-color(var(--color-warning));
    background: var(--background-color);
    color: var(--theme-color);
  }
  [data-background=warning-primary] {
    --background-color: var(--gradient-warning-primary);
    background: var(--background-color);
  }
  [data-background=warning-secondary] {
    --background-color: var(--gradient-warning-secondary);
    background: var(--background-color);
  }
  [data-background=warning-accent] {
    --background-color: var(--gradient-warning-accent);
    background: var(--background-color);
  }
  [data-background=warning-light] {
    --background-color: var(--gradient-warning-light);
    background: var(--background-color);
  }
  [data-background=warning-dark] {
    --background-color: var(--gradient-warning-dark);
    background: var(--background-color);
  }
  [data-background=warning-white] {
    --background-color: var(--gradient-warning-white);
    background: var(--background-color);
  }
  [data-background=warning-info] {
    --background-color: var(--gradient-warning-info);
    background: var(--background-color);
  }
  [data-background=warning-success] {
    --background-color: var(--gradient-warning-success);
    background: var(--background-color);
  }
  [data-background=warning-error] {
    --background-color: var(--gradient-warning-error);
    background: var(--background-color);
  }
  [data-background=success] {
    --background-color: var(--color-success);
    --theme-color: contrast-color(var(--color-success));
    background: var(--background-color);
    color: var(--theme-color);
  }
  [data-background=success-primary] {
    --background-color: var(--gradient-success-primary);
    background: var(--background-color);
  }
  [data-background=success-secondary] {
    --background-color: var(--gradient-success-secondary);
    background: var(--background-color);
  }
  [data-background=success-accent] {
    --background-color: var(--gradient-success-accent);
    background: var(--background-color);
  }
  [data-background=success-light] {
    --background-color: var(--gradient-success-light);
    background: var(--background-color);
  }
  [data-background=success-dark] {
    --background-color: var(--gradient-success-dark);
    background: var(--background-color);
  }
  [data-background=success-white] {
    --background-color: var(--gradient-success-white);
    background: var(--background-color);
  }
  [data-background=success-info] {
    --background-color: var(--gradient-success-info);
    background: var(--background-color);
  }
  [data-background=success-warning] {
    --background-color: var(--gradient-success-warning);
    background: var(--background-color);
  }
  [data-background=success-error] {
    --background-color: var(--gradient-success-error);
    background: var(--background-color);
  }
  [data-background=error] {
    --background-color: var(--color-error);
    --theme-color: contrast-color(var(--color-error));
    background: var(--background-color);
    color: var(--theme-color);
  }
  [data-background=error-primary] {
    --background-color: var(--gradient-error-primary);
    background: var(--background-color);
  }
  [data-background=error-secondary] {
    --background-color: var(--gradient-error-secondary);
    background: var(--background-color);
  }
  [data-background=error-accent] {
    --background-color: var(--gradient-error-accent);
    background: var(--background-color);
  }
  [data-background=error-light] {
    --background-color: var(--gradient-error-light);
    background: var(--background-color);
  }
  [data-background=error-dark] {
    --background-color: var(--gradient-error-dark);
    background: var(--background-color);
  }
  [data-background=error-white] {
    --background-color: var(--gradient-error-white);
    background: var(--background-color);
  }
  [data-background=error-info] {
    --background-color: var(--gradient-error-info);
    background: var(--background-color);
  }
  [data-background=error-warning] {
    --background-color: var(--gradient-error-warning);
    background: var(--background-color);
  }
  [data-background=error-success] {
    --background-color: var(--gradient-error-success);
    background: var(--background-color);
  }
  [data-color-theme=primary] {
    --theme-color: var(--color-primary);
    color: var(--theme-color);
  }
  [data-color-theme=secondary] {
    --theme-color: var(--color-secondary);
    color: var(--theme-color);
  }
  [data-color-theme=accent] {
    --theme-color: var(--color-accent);
    color: var(--theme-color);
  }
  [data-color-theme=light] {
    --theme-color: var(--color-light);
    color: var(--theme-color);
  }
  [data-color-theme=dark] {
    --theme-color: var(--color-dark);
    color: var(--theme-color);
  }
  [data-color-theme=white] {
    --theme-color: var(--color-white);
    color: var(--theme-color);
  }
  [data-color-theme=info] {
    --theme-color: var(--color-info);
    color: var(--theme-color);
  }
  [data-color-theme=warning] {
    --theme-color: var(--color-warning);
    color: var(--theme-color);
  }
  [data-color-theme=success] {
    --theme-color: var(--color-success);
    color: var(--theme-color);
  }
  [data-color-theme=error] {
    --theme-color: var(--color-error);
    color: var(--theme-color);
  }
}

/*# sourceMappingURL=preview.css.map */
