.page-nav {
	display: flex;
	margin-block-start: var(--spacing-xxl);

	&__prev,
	&__next {
		width: 20rem;
		max-width: 50%;
		display: inline-flex;
		flex-direction: column;
		background: transparent;
		padding-inline: var(--spacing-sm);

		&:hover, &:focus, &:active {
			color: var(--color-primary);
			border-color: var(--color-primary);
		}
	}

	&__prev {
		align-items: flex-start;
	}

	&__next {
		align-items: flex-end;
		margin-inline-start: auto;
	}


	&__label {
		font: var(--font-captions);
		font-size: 0.8rem;
		display: inline-flex;
		align-items: center;
		gap: var(--spacing-xs);

		svg {
			width: 1rem;
		}
	}

	&__title {
		font: var(--font-labels);


		&--prev {
			padding-inline-start: 1.25rem;
		}

		&--next {
			padding-inline-end: 1.25rem;
		}
	}
}