:root {
	--font-family-system: -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.block-editor-block-card {
	&__title {
		font-family: inherit;
	}
}

.ui-sortable-handle {
	font-family: inherit;
}


// Custom vertical alignment used for the banner block (and possibly others added after this)
.components-base-control:has([aria-label="Change vertical alignment"]) {
	// Hack it into position next to the horizontal justification in the layout panel above
	padding: 1rem;
	width: max-content;
	margin-left: auto;
	margin-top: -96px;
	margin-bottom: 0;

	// Make the button match the horizontal justification one
	.components-dropdown-menu__toggle {
		border: 1px solid transparent;
		margin-top: 1px;

		&:hover, &:focus, &:active {
			border-color: var(--wp-components-color-gray-700, #757575);
		}
	}
}

.components-button {
	svg {
		height: unset;
	}
}

.edit-post-meta-boxes-area__container {
	padding-inline: 0;
}

.components-panel__body {
	&-title {
		font-family: inherit;
	}

	// When the layout panel is closed, hide the custom vertical alignment and container size so they appear like they're in the layout panel
	+ .comet-custom-layout-controls {
		display: none;
	}

	&.is-opened {
		+ .comet-custom-layout-controls {
			display: block;
		}
	}

	&-toggle {
		font-family: var(--font-family-system);
	}
}

.components-base-control__label,
.components-input-control__label {
	display: flex !important;
	align-items: center;
	gap: 0.25rem;
}

.components-panel__row {
	gap: 0.25rem;

	.components-base-control {
		margin-block: 0;

		&__field {
			margin-block: 0;
		}
	}
}

.components-toggle-control {

	&__label {
		display: flex !important;
		align-items: center;
		gap: 0.25rem;
	}

	&__help {
		code {
			font-size: 0.7rem;
		}
	}
}

.components-toggle-group-control {
	transition: border 0.2s ease-in-out;
	border: 1px solid var(--wp-components-color-gray-300, #dee2e6) !important;
	min-height: 32px !important; // default 36px is 2px too high for the buttons and I can't unsee it

	&:hover, &:focus-within {
		border-color: var(--wp-components-color-gray-700, #757575) !important;
	}

	&-option-base {
		transition: background 0.2s ease-in-out;

		&:not([aria-checked="true"]):not([aria-pressed="true"]) {
			&:hover, &:focus {
				background: #EEE;
			}
		}
	}
}

.components-resizable-box__container {
	max-width: 100% !important;

	img {
		max-width: 100% !important;
	}

	.advanced-image-field {
		img {
			max-width: unset !important;
		}
	}
}

.comet-toggle-group {
	button {
		min-height: 2rem;

		svg {
			width: 1.5rem;
			height: auto;
		}
	}
}

.components-dropdown {
	width: 100%;

	button {
		width: 100%;
		font-family: var(--font-family-system);
		text-decoration: underline;
		text-decoration-color: transparent;
		transition: all 0.2s ease-in-out;

		&:hover, &:focus,
		&[aria-expanded="true"] {
			background: var(--color-light, #EFEFEF);
			text-decoration-color: currentColor;
		}
	}
}

.components-color-palette__custom-color-text-wrapper {
	font-family: var(--font-family-system);
}

.components-circular-option-picker {
	&__swatches {
		width: 100%;
		flex-direction: row !important;
	}

	&__clear {
		font-family: var(--font-family-system);
	}
}

.comet-color-swatch {
	border: 1px solid #DDD;
	border-radius: 0.25rem;
	margin-block-start: 0.25rem;
	margin-block-end: 0.75rem;
	min-width: 260px;
	display: flex;
	flex-direction: column;
	gap: 0.75rem;

	&__preview {
		min-height: 4rem;
		font-family: var(--font-family-system);
		line-height: 1.2;
		padding: 0.75rem;
		box-sizing: border-box;
		font-size: 0.9rem;
		border-top-left-radius: 0.25rem;
		border-top-right-radius: 0.25rem;
	}

	&__caption {
		text-align: left;
		padding-inline: 0.75rem;
		box-sizing: border-box;
		margin: 0;
		padding-block-end: 0.75rem;
		font-family: var(--font-family-system);
		font-size: 0.8rem;
	}
}

.comet-color-controls {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	.components-base-control {
		margin-block: 0;
	}

	&__item {
		width: 100%;
		display: flex;
		margin-block-end: 0.5rem;

		&:has(+ &) {
			margin-block-end: 0;
		}

		> div {
			display: contents;
		}

		.components-dropdown {
			flex-grow: 1;

			button {
				width: 100%;
				border: 1px solid #e0e0e0;
				display: flex;
				gap: 0.5rem;
				justify-content: flex-start;
				align-items: center;

				&[aria-expanded="true"] {
					border-color: var(--wp-components-color-primary, #007cba);
				}
			}
		}
	}
}

.block-editor-inspector-popover-header__heading {
	font-family: inherit;
}

@each $colorName in (primary, secondary, accent, light, dark, info, success, warning, error) {
	[data-background="#{$colorName}"] {
		--background-color: var(--color-#{$colorName});
		background: var(--color-#{$colorName});
	}

	[data-color-theme="#{$colorName}"] {
		--theme-color: var(--color-#{$colorName});
		color: var(--color-#{$colorName});
	}
}