@mixin grid-like-a-transparent-png-preview() {
	background: repeating-linear-gradient(45deg,#efefef 25%,transparent 25%,transparent 75%, #efefef 75%, #efefef),
				repeating-linear-gradient(45deg,#efefef 25%,transparent 25%,transparent 75%, #efefef 75%, #efefef);
	background-size: 2rem 2rem;
	background-position: 0 0, 1rem 1rem;
}

.comet-color-swatch {
	border: 1px solid #DDD;
	border-radius: 0.25rem;
	margin-block-start: 0.25rem;
	margin-block-end: 0.75rem;
	margin-inline: 0;
	width: 100cqw;
	display: flex;
	flex-direction: column;
	gap: 0.75rem;

	&__preview {
		min-height: 4rem;
		font-family: var(--font-family-system);
		line-height: 1.2;
		padding: 0.75rem;
		box-sizing: border-box;
		font-size: 0.9rem;
		border-top-left-radius: 0.25rem;
		border-top-right-radius: 0.25rem;
		border-bottom: 1px solid #DDD;
		transition: all 0.2s ease-in-out;
		position: relative;

		&:not([data-background]) {
			@include grid-like-a-transparent-png-preview();
		}
	}

	&__caption {
		text-align: left;
		padding-inline: 0.75rem;
		box-sizing: border-box;
		margin: 0;
		padding-block-end: 0.75rem;
		font-family: var(--font-family-system);
		font-size: 0.8rem;
	}
}